/ {
    chosen {
        zephyr,settings-partition = &nvs_partition;
    };
};

/* Enable WiFi */
&wifi {
    status = "okay";
};

/* Enable I2C0 for sensors */
&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
};

/* Enable Flash for Settings */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Reserve 64K for NVS */
        nvs_partition: partition@3a0000 {
            label = "nvs";
            reg = <0x3a0000 0x10000>;
        };
    };
};

/* GPIO configurations */
&gpio0 {
    status = "okay";
};